.color-nav {
    background-color: rgb(56,163,74);
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(56,163,74);
    color: white;
    font-size: x-small;
    padding-top: 1px;
    padding-bottom: 1px;
}